<div *ngIf="tableForm" class="container my-3">
  <form [formGroup]="tableForm">
    <table class="table">
      <thead>
        <th scope="col">#</th>
        <th *ngFor="let type of types$ | async; let i = index">
          <input #header class="border-0 font-weight-bold" [value]="type?.name" (blur)="updateColumnTitle(i, header.value, type.name)">
        </th>
      </thead>
      <tbody *ngFor="let control of frmArrayControls; let i = index">
        <tr [formGroup]="control">
          <th class="py-2" scope="row">{{ i + 1 }}</th>
          <td  class="form-group p-0" *ngFor="let type of types$ | async">
            <ng-container [ngSwitch]="type?.controlType">
              <div *ngSwitchCase="controlType.text">
                <input #textInput
                  class="form-control border-0 rounded-0"
                  type="text"
                  [formControlName]="type?.name"
                  [ngClass]="{'is-invalid': control.get(type.name)?.errors && control.get(type.name)?.touched }"
                  (blur)="updateTable(i,type.name,textInput.value)">
              </div>
              <div *ngSwitchCase="controlType.select">
                <select #selectInput [formControlName]="type?.name"
                  class="form-control rounded-0"
                  [ngClass]="{'is-invalid': control.get(type.name)?.errors && control.get(type.name)?.touched }"
                  (change)="updateTable(i, type.name, selectInput.value)">
                  <option *ngFor="let item of type?.options" [value]="item">{{ item }}</option>
                </select>
              </div>
              <div *ngSwitchCase="controlType.number">
                <input #numberInput class="form-control border-0 rounded-0"
                  type="number"
                  [formControlName]="type.name"
                  [ngClass]="{'is-invalid': control.get(type.name)?.errors && control.get(type.name)?.touched }"
                  (blur)="updateTable(i, type.name, numberInput.value)">
              </div>
              <div *ngSwitchCase="controlType.date">
                <input #dateInput class="form-control border-0 rounded-0"
                  mask="00/00/0000"
                  [showMaskTyped]="false"
                  [formControlName]="type.name"
                  [ngClass]="{'is-invalid': control.get(type.name)?.errors && control.get(type.name)?.touched }"
                  (blur)="updateTable(i, type.name, dateInput.value)">
              </div>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
  <div class="pt-3">
    <button class="btn btn-primary"
      (click)="updateMinRows()">
      Add 10 rows
    </button>
  </div>
</div>
